* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

body.dark {
  color: white;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
  background: black;
  height: 100px;
  color: white;
  gap: 30px;
  font-size: 12px;
  font-weight: 200;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25.6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2.4px;
  bottom: 2.4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4603a4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4603a4;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.6px;
}

.slider.round:before {
  border-radius: 50%;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.week-list {
  display: flex;
  gap: 20px;
  color: #4603a4;
}

h2,
h4.weeks,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h4.weeks {
  gap: 35px;
  margin-bottom: 15px;
}

input {
  margin: 15px;
}
